<div>
	<h1>Affiliated engineers</h1> 
	<button mat-raised-button (click)="openAddDialog()"><i class="material-icons">accessibility_new</i>Add Engineer</button>
</div>

<div>
	<table id='engineers'>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Country</th>
				<th>Company</th>
				<th>Date Created</th>
				<th></th>
				

			</tr>	

			<tr *ngFor="let engineer of (engineers$ |async)">
					<td>{{engineer.id}}</td>
					<td>{{engineer.Name}}</td>
					<td>{{engineer.LastName}}</td>
					<td>{{engineer.PhoneNumber}}</td>
					<td>{{engineer.Country}}<span class="flag-icon flag-icon-{{engineer.Country | lowercase}}"></span></td>
					<td>{{engineer.Company}}</td>
					<td>{{engineer.Registered}}</td>
					
					<td>
						
						<button mat-button (click)="editEngineer(engineer)">Edit</button>
					</td>

			</tr>

	</table>
</div>