<h1 mat-dialog-title>Add new Engineer</h1>

<div mat-dialog-content class="dialog-container">
    <mat-form-field class="Field">
        <input matInput placeholder="Phone Number" [formControl]="number" required>
        <mat-error *ngIf="number.invalid">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

  <mat-form-field class="Field">
        <input matInput placeholder="Name" [formControl]="name" required>
        <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="Field">
        <input matInput placeholder="Last Name">
  </mat-form-field>

  <mat-form-field class="Field">
        <input matInput placeholder="Company" [formControl]="company" required>
        <mat-error *ngIf="company.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
        <!-- <input matInput [(ngModel)]="data.name" placeholder="Name"> -->

    
    <mat-form-field class="Field">
        <mat-select placeholder="Pick a Country">
            <mat-option value="option">LV <i class="flag-icon flag-icon-lv"> </i> </mat-option>
            <mat-option value="option">EE <span class="flag-icon flag-icon-ee"> </span></mat-option>
            <mat-option value="option">LT <span class="flag-icon flag-icon-lt"> </span></mat-option>
            <mat-option value="option">HR <span class="flag-icon flag-icon-hr"> </span></mat-option>
            <mat-option value="option">NL <span class="flag-icon flag-icon-nl"> </span></mat-option>
            <mat-option value="option">SE <span class="flag-icon flag-icon-se"> </span></mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close] ng-click="insertdata()" cdkFocusInitial >Register</button>
</div>

