<div>
	<h1>Affiliated engineers</h1> 
	<button mat-raised-button (click)="openDialog()"><i class="material-icons">accessibility_new</i>Add Engineer</button>
</div>

<div>
	<table id='engineers'>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Last Name</th>
				<th>Phone Number</th>
				<th>Country</th>
				<th>Company</th>
				<th>Date Created</th>
				

			</tr>	

			<tr *ngFor="let engineer of engineer">
					<td>{{engineer.idEngineers}}</td>
					<td>{{engineer.Name}}</td>
					<td>{{engineer.LastName}}</td>
					<td>{{engineer.PhoneNumber}}</td>
					<td>{{engineer.Country}}</td>
					<td>{{engineer.Company}}</td>
					<td>{{engineer.Registered}}</td>
					
					<td><button mat-button ng-click="deleteEng(engineer.id);">Delete</button></td>
					<td><button mat-button ng-click="editEngineer(engineer.id, engineer.name, engineer.lastname, engineer.phone, engineer.country, engineer.company, engineer.created);">Edit</button></td>

			</tr>

	</table>
</div>