.form-group > * {
    width:95%
}
h1 {
    float:left;
}

button{
    float:right;
}
 
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    
  }