#title {
  font-size: 50px;
  display: inline;
}
h2 {
color: #999;
display: inline;
}

.addVisit {
  float: right;
}

button {
  float: right;
}

.bold {
font-weight: bold;
text-justify: left;
}
  
  
  #mymap {
    width: 100%;
  }

  /* #map:after {
    content: "";
    padding-bottom: 40%;
    display: inline-block;

  } */
  
 #info-container {
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 100%;
  text-align: right;

}

  #details-under{
    display: block;
  }

  #devices {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    font-size: 14px;
  }

  .tech {
    padding:1.5%;
  }

 .panel-title {
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 30px;
  }
  
  .rediconcolor {
      color: red;
  }
  .greeniconcolor{
      color: greenyellow;
  }

  .hidden {
    visibility: hidden;
  }
      
  #visits {
      display: grid;
      grid-template-columns: 95%;
  }


  .small-icon {
    font-size: 15px;
  }

    #visits table {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
    border-collapse: collapse;
    border: 1px solid #ddd;
    width:100%;
    overflow: hidden;
    white-space: nowrap;
  }
  #visits table tr:hover {
      background-color :rgb(137, 209, 238)
    }
 
    #visits table th :first-child {
      border-top-left-radius: 20px;
    }
    
    #visits table th :last-child{
      border-top-right-radius: 20px;
    } 

    #visits table th {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    background-color: rgb(128, 128, 128);
    color: white;
    font-weight: bold; 
    vertical-align: top;
    border: 1px solid #ddd;
   }
 
   #visits table td {
    text-align: left;
    grid-template-columns: auto;
    padding: 2px;
    border: 1px solid #ddd;
  }

  #visits table button {
    height: 20px;
  }

  #visits .active0 {
  background-color:#dff0d8;
  }
  
@media screen and (max-width: 845px) {
.small {
  display: none;
}

}