<link href="C:/Users/Aivis/Desktop/CheckMeWeb/CheckMeWeb/node_modules/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
<link href="C:/Users/Aivis/Desktop/CheckMeWeb/CheckMeWeb/src/assets/flag-icon-css-master/css/flag-icon.min.css" rel="stylesheet">
<h1>Contact us</h1>

<form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
  <h5 *ngIf ="success">Your form is valid! </h5>

  <label>
      Name: <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
      <div *ngIf="messageForm.controls.name.errors.required" class="error">Please insert your name</div>
    </div>
  
  </label>

  <label>
      Message: <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
      <div *ngIf="messageForm.controls.message.errors.required" class="error">Please insert your name</div>
    </div>
  
  </label>

  <input type="submit" value = "Send Message" class ="cta">
  

</form>

<div *ngIf="submitted" class="results">
  <strong>Name:</strong>  
  <span>{{messageForm.controls.name.value}}</span>
</div>

<div *ngIf="submitted" class="results">
  <strong>Message:</strong>  
  <span>{{messageForm.controls.message.value}}</span>
</div>

asd<span class="flag-icon flag-icon-gr">asd</span>
asd<i class="flag-icon flag-icon-gr" aria-hidden="true"></i>
