.Field {
    width: 90%;
}
.inc {
    width:80%;
}

.right {
    float: right;
}

mat-option.mat-option{
    height: 30px;
}

mat-form-field{
    width: 95%;
}

mat-form-field:last-of-type{
    width: calc(95% - 64px)
}