<h1 mat-dialog-title>Register New Site Visit</h1>

<form [formGroup]="this.dataService.form" (ngSubmit)="onSubmit()">
        <div mat-dialog-content class="form-group">

                <mat-form-field>
                        <input matInput placeholder="Site" formControlName = "spanid" class="form-control"  required autocomplete="off">
                        <!-- <mat-error *ngIf="spanid.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>   

                <mat-form-field >
                        <input matInput placeholder="Phone Number" formControlName = "phonenumber" class="form-control" required autocomplete="off">
                        <!-- <mat-error *ngIf="phonenumber.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

                <mat-form-field >
                        <mat-select placeholder="Performing" formControlName = "reason" class="form-control" required>
                                <mat-option value="option">Installation </mat-option>
                                <mat-option value="option">Faulthandling </mat-option>
                                <mat-option value="option">Preventive Maintenance </mat-option>
                                <mat-option value="option">Replacement </mat-option>
                                <mat-option value="option">Upgrade </mat-option>
                                <mat-option value="option">Generating Site </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="reason.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>

                <mat-form-field >
                        <mat-select formControlName = "reason2" class="form-control" placeholder="Of...">
                                <mat-option value="option">2G </mat-option>
                                <mat-option value="option">3G </mat-option>
                                <mat-option value="option">4G </mat-option>
                                <mat-option value="option">Site </mat-option>
                                <mat-option value="option">External </mat-option>
                                <mat-option value="option">Transmission </mat-option>
                                <mat-option value="option">Other </mat-option>
                                <mat-option>Clear</mat-option>
                        </mat-select>   
                        <!-- <mat-error *ngIf="reason2.invalid">{{getErrorMessage()}}</mat-error> -->    
                </mat-form-field>

                <mat-form-field >
                        <input formControlName = "reason3" matInput class="form-control" placeholder="Reason of visit" autocomplete="off">
                </mat-form-field>

                <mat-form-field >
                        <input formControlName = "comment" matInput class="form-control" placeholder="comments..." autocomplete="off">
                </mat-form-field>
                
                <mat-form-field >
                        <input matInput formControlName = "inc" class="form-control" placeholder="Ticket ID" autocomplete="off">
                </mat-form-field>
                <button class ="right" 
                        mat-button (click)="getTicket()"
                        matTooltip="Querry ITSM inventory"
                        matTooltipPosition= 'below'
                        matTooltipShowDelay= '500'>
                        <i class="material-icons">search</i>
                </button>

        </div>

        <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button class="right" ng-click="insertVisit()" [mat-dialog-close] >Register</button>
        <input type="submit" class="mat-button right" value= "RegisterFire">
        </div>
</form>
