<h1 mat-dialog-title>Add new Engineer</h1>

<form [formGroup]="engineerAddForm">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput for="PhoneNumber" formControlName="PhoneNumber" placeholder="Phone Number"  autocomplete="off" required>
            <!-- <mat-error *ngIf="PhoneNumber.invalid">{{getErrorMessage()}}</mat-error> -->
        </mat-form-field>
    
      <mat-form-field>
            <input matInput for="Name" formControlName="Name" placeholder="Name"  autocomplete="off" required>
            <!-- <mat-error *ngIf="Name.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
    
      <mat-form-field>
            <input matInput for ="LastName" formControlName="LastName" placeholder="Last Name"  autocomplete="off">
      </mat-form-field>
    
      <mat-form-field>
            <input matInput for ="Company" formControlName="Company" placeholder="Company"  autocomplete="off" required>
            <!-- <mat-error *ngIf="Company.invalid">{{getErrorMessage()}}</mat-error> -->
      </mat-form-field>
    
    
        
        <mat-form-field>
            <mat-select for ="Country" formControlName="Country" placeholder="Pick a Country" required>
                <mat-option value="LV">LV <i class="flag-icon flag-icon-lv"> </i> </mat-option>
                <mat-option value="EE">EE <span class="flag-icon flag-icon-ee"> </span></mat-option>
                <mat-option value="LT">LT <span class="flag-icon flag-icon-lt"> </span></mat-option>
                <mat-option value="HR">HR <span class="flag-icon flag-icon-hr"> </span></mat-option>
                <mat-option value="NL">NL <span class="flag-icon flag-icon-nl"> </span></mat-option>
                <mat-option value="SE">SE <span class="flag-icon flag-icon-se"> </span></mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">Cancel</button>
        <button mat-button [mat-dialog-close] (click)="createEngineer()" [disabled]="!engineerAddForm.valid">Register</button>
    </div>

    <p>
        Form Value: {{ engineerAddForm.value | json}}
    </p><p>
        Form Status: {{ engineerAddForm.status }}
    </p>

</form>

